{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-lg">
      <div class="card-header bg-primary text-white text-center">
        <h4><i class="bi bi-person-fill me-2"></i> Registrarse</h4>
      </div>
      <div class="card-body">
        <p class="text-center mb-4">Para registrarte, envía una petición con tus datos como técnico a través de WhatsApp.</p>
        <div class="text-center mb-4">
          <a href="https://wa.me/18293838368" target="_blank" class="btn btn-success btn-lg">
            <i class="bi bi-whatsapp me-2"></i>WhatsApp.
          </a>
        </div>        
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
